/*
    Description: CSS for the New York Times Top Stories WordPress plugins
    Author: Chris@new-volume
    Website: new-volume.com
*/

.nytArticle {
    border-top: 1px solid #000;
    margin-bottom: 15px;
}

.nytImg {
    height: auto;
    margin: 20px 10px 0 20px;
}

.nytMainHeader, .storySection, .abstract, .byLine {
    margin-top: 0;
    margin-bottom: 0;
}

.clearDiv {
    clear: both;
}

.nytMainHeader {
    font-size: 1.2em;
}

.storySection {
    font-size: .9em;
    margin-top: 0;
}

.abstract {
    font-size: 1em;
}

.byLine {
    margin-top: 10px;
    font-size: 1em;
}

@media screen and (min-width: 600px) {
    .nytImg {
        margin: 20px 10px 0 0;
    }

    .nytMainHeader, .storySection, .abstract, .byLine {
        float: left;
        width: 55%;
    }
}

@media screen and (min-width: 680px) {
    .nytImg {
        margin: 20px 10px 0 0;
    }

    .nytMainHeader, .storySection, .abstract, .byLine {
        float: left;
        width: 60%;
    }
}

@media screen and (min-width: 870px) {
    .nytImg {
        height: auto;
        margin: 20px 10px 0 0;
    }

    .nytMainHeader, .storySection, .abstract, .byLine {
        float: left;
        width: 70%;
    }
}
